
<app-spinner></app-spinner>
<app-navbar></app-navbar>

<div class="app-content">

  <div class="m-5 row d-flex justify-content-center align-content-center text-left" id="main-container">
    <div class="col-lg-6 my-5" style="padding: 20vh 20vh">
      <div class="card">
        <div class="card-header bg-black text-white">
          <h3>Reset Password</h3>
        </div>
        <div class="card-body">
          <form #editPasswordForm='ngForm'>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" ngModel name="password"  [(ngModel)]="password" class="form-control" id="password" required>
           </div>

           <div class="form-group">
            <label for="confirmPassword">confirmPassword</label>
            <input type="password" ngModel name="confirmPassword" (ngModelChange)="checkPassword($event)" class="form-control" id="confirmPassword" required>
         </div>
          <br>
            <div class="modal-footer">
              <button (click)="onResetPassword(editPasswordForm)" [disabled]="editPasswordForm.invalid || !samePassword" class="btn btn-primary" >Save changes</button>
            </div>
            </form>
        </div>
      </div>
    </div>
  </div>
