<app-spinner></app-spinner>
<app-navbar></app-navbar>

<div class="app-content">

  <div class="container my-5" id="main-container">
    <h1 class="mb-3">Attendance Logs</h1>
    <div class="card">
      <div class="card-header row p-5">
        <form #filterDateForm="ngForm" class="col-lg-12 row">
          <div class="col-lg-6 my-2">
            <label for="timeLog">startDate</label>
            <div class="input-group">
              <input type="date" class="form-control" [(ngModel)]="startDate" name="startDate" id="startDate" required>
            </div>
          </div>

          <div class="col-lg-6 my-2">
            <label for="timeLog">endDate</label>
            <div class="input-group">
              <input type="date" class="form-control" [(ngModel)]="endDate" name="endDate" id="endDate" required>
            </div>
          </div>
          <div class="col-lg-4 d-flex justify-content-center   align-content-center">
            <div class="form-check form-switch my-3">
              <input class="form-check-input" type="checkbox" id="filterSwitch" name="something" (click)="ToggleFilter()"
                [(ngModel)]="doFilter">
              <label class="form-check-label" for="filterSwitch">Activate Search Filters</label>
            </div>
          </div>
          <div class="col-lg-8 my-2 d-flex justify-content-around   align-content-center">
            <button class="btn btn-sm btn-outline-danger" [disabled]="filterDateForm.invalid" (click)="removeDateFilter(filterDateForm)">Remove Date Filter</button>
            <button class="btn btn-sm btn-outline-danger" (click)="getLogsBetweenDates(filterDateForm)"
              [disabled]="filterDateForm.invalid || startDate > endDate">Run Date Filter</button>
          </div>


        </form>




      </div>
      <div class=" card-body">
        <table class="table table-hover table-striped " *ngIf="logs && logs.length > 0">
          <thead class="table-dark">
            <tr>
              <th>Image</th>
              <th>timeLog</th>
              <th>attendanceLogTypeName</th>
              <th>attendanceLogStateName</th>
              <th>attendanceLogStatusName</th>
            </tr>
            <ng-container *ngIf="doFilter">
              <tr>
                <td></td>
                <td><input type="date" [(ngModel)]="timeLogFilter"></td>
                <td><input type="text" [(ngModel)]="attendanceLogTypeNameFilter"></td>
                <td><input type="text" [(ngModel)]="attendanceLogStateNameFilter"></td>
                <td><input type="text" [(ngModel)]="attendanceLogStatusNameFilter" ></td>
              </tr>
            </ng-container>
          </thead>
          <tbody>

            <tr *ngFor="let log of filteredLogs | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage};">
              <td><img style="height:100px;width:100px;" [src]="imageBaseUrl+log.imageName" alt=""></td>
              <td>{{ log.timeLog }}</td>
              <td>{{ log.attendanceLogTypeName }}</td>
              <td>{{ log.attendanceLogStateName }}</td>
              <td>{{ log.attendanceLogStatusName }}</td>
            </tr>
          </tbody>
          <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </table>
      </div>
    </div>


<!-- Notification for no employees -->
<div *ngIf="logs?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO ATTENDANCE LOGS!</h4>
    <p>No Attendance logs were found.</p>
  </div>
  </div>

</div>
