/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';



body {
    height: 100%;
}
.unselectable{
    user-select: none;
}

.app-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.centered-div {
    width: 90%;
    height: 60%;
    margin: auto;
}



.border-rounded {
    border-radius: 25px;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
    height: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}


.mod{
    background: linear-gradient(180deg,#cb444a 10%,#111923 40%);
}
    