html,
body {
    height: calc(100vh - 2vh);
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-rounded {
    border-radius: 25px !important;
}

.card-rounded .card-header-rounded-top {
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
}

.card-shadow {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) !important;
}

.card-shadow .card-body-shadow {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) !important;
}

.card-shadow .card-header-shadow {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) !important;
}

/* Styles to make the image round */
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.bg-danger,
.btn-danger {
    background-color: #c7382f !important;
    border-color: #c7382f !important;
    color: #fff !important;
}
