<app-spinner></app-spinner>
<app-navbar></app-navbar>


<div class="app-content">
  <div class="card card-shadow col-lg-6 card mx-auto card-rounded" style="min-width: 75vw;">
      <div
          class="card-header card-header-rounded-top card-header-shadow bg-dark text-white p-5 d-flex justify-content-end align-content-center">
          <h1 class="text-center">Welcome, {{ employee.firstName }} {{ employee.middleName }} {{ employee.lastName }}</h1>
      </div>
      <div class="card-body p-5" style="min-height: 50vh;">
          <div class="row">
              <div class="mb-5 col-lg-6 d-flex justify-content-center align-content-center">
                  <img *ngIf="employee.profilePictureImageName" [src]="imageBaseUrl+employee.profilePictureImageName" alt="Avatar" class="avatar"
                      style="min-height: 250px; min-width: 250px; background-color: black; color: white;">
              </div>
              <div class="col-lg-6 mb-3 row">
                  <h3 class="col-lg-12 mb-2">User Details</h3>
                  <h6> <strong> Name: </strong> {{ employee.lastName }}, {{ employee.firstName }} {{ employee.middleName }}</h6>
                  <h6> <strong> Email: </strong>{{ employee.emailAddress }}</h6>
                  <h6> <strong> ID Number: </strong>{{ employee.code }}</h6>
                  <h6> <strong> Role: </strong>{{ employee.employeeRoleName }}</h6>
              </div>
              <div class="col-lg-6 d-flex justify-content-center align-content-center">
                  <button type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#GetAbsencesModal"
                  class="btn btn-sm btn-outline-warning px-5 my-2"> <i class="btn-icon-prepend"
                          data-feather="edit"></i>
                          Get Absence</button>

              </div>
              <div class="col-lg-6 d-flex justify-content-center align-content-center">
                <button type="button" data-bs-toggle="modal" data-bs-target="#updatePasswordModal"
                class="btn btn-sm btn-outline-success px-5 my-2"> <i class="btn-icon-prepend"
                        data-feather="lock"></i>
                    Update Password</button>
              </div>

          </div>
      </div>
  </div>

  <!-- Bootstrap Bundle with Popper -->
  <script>
      feather.replace()
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>






    <div class="modal fade" id="GetAbsencesModal" tabindex="-1" role="dialog" aria-labelledby="GetAbsencesModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-header">
              <h5 class="modal-title" id="GetAbsencesModalLabel">Get Absences</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onCloseAbsences()">
              </button>
           </div>
           <div class="modal-body">
            <form #dateForm="ngForm" (ngSubmit)="getUserAbsencesCount(dateForm)">
              <div class="form-group">
                <label for="timeLog">startDate</label>
                <input type="date" [(ngModel)]="startDate" name="startDate" id="startDate" required>
             </div>
             <div class="form-group">
              <label for="timeLog">endDate</label>
              <input type="date" [(ngModel)]="endDate" name="endDate" id="endDate" required>
           </div>
              <div class="modal-footer">
                <button [disabled]="dateForm.invalid || startDate > endDate" type="submit" class="btn btn-primary">Get Absences</button>
              </div>
              </form>
           </div>
           <div *ngIf="dateSubmitted">
            <p >Number of Missed Time In: {{ missedTimeInCount }}</p>
            <p >Number of Missed Time Out: {{ missedTimeOutCount }}</p>
            <p>Number of Attendance Within Work Time: {{ WithinWorkTimeCount }}</p>
           </div>
        </div>
      </div>
      </div>

    <div class="modal fade" id="updatePasswordModal" tabindex="-1" role="dialog" aria-labelledby="updatePasswordModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-header">
            <h5 class="modal-title" id="updatePasswordModalLabel">Edit Employee {{employee.firstName }} Password</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              </button>
           </div>
           <div class="modal-body">
            <form #editPasswordForm="ngForm">
              <input type="hidden" ngModel="{{ employee.code}}" name="code"  required>

              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" ngModel name="password"  [(ngModel)]="password" class="form-control" id="password" required>
             </div>

             <div class="form-group">
              <label for="confirmPassword">confirmPassword</label>
              <input type="password" ngModel name="confirmPassword" (ngModelChange)="checkPassword($event)" class="form-control" id="confirmPassword" required>
           </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button (click)="onUpdatePassword(editPasswordForm)" [disabled]="editPasswordForm.invalid || !samePassword" data-bs-dismiss="modal" class="btn btn-primary" >Save changes</button>
              </div>
              </form>
           </div>
        </div>
      </div>
      </div>

</div>
