<app-spinner></app-spinner>

<div class="mb-1">
  <app-navbar></app-navbar>
</div>

<div class="app-content row ">

  <div class="centered-div p-5 border-secondary bg-dark m-3">

    <div class="row justify-content-center align-content-center">
      <!-- for the video -->
      <div class="col-md-8">
        <h4 class="col-md-12 text-center text-white mb-5">&nbsp;{{ cameraMessage }}{{ cameraWarning }} {{ countDownMessage }}
        </h4>


        <div class="col-md-12 d-flex justify-content-center align-content-center">

          <video id="video" autoplay style="display: none;"></video>
          <canvas id="canvas" width="1100px" height="700px"></canvas>
          <canvas id="faceCanvas" width="300px" height="300px" style="display: none;"></canvas>
        </div>
      </div>


      <!-- for the other side of the video (right side of the video) -->
      <div class="col-md-4 row justify-content-center align-content-around">
        <div class="col-lg-10 my-5">

          <!-- the predicting part -->
          <div *ngIf="isAttendanceDisplayed" class="card">
            <!-- image captured -->
            <div class="row card-body justify-content-center align-content-center">
              <div class="col-md-10" *ngIf="(predictedPerson)">
                <img id="outputImage" class="p-4" alt="asdf" [src]="snapshotFaceDataUrl" style="border-radius: 5%; min-width: 200px; min-height: 200px; max-width: 500px; max-height: 500px;">
              </div>
            </div>
            <!-- CARD FOOTER -->
            <div class="card-footer bg-secondary flex justify-content-center text-center align-content-center p-5">
              <h3 class="my-2 text-white">{{greetingMessage}}! {{predictedPerson.firstName}} {{predictedPerson.lastName}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="centered-div py-2 px-5 justify-content-around d-flex bg-dark text-white">
      <div class="col-md-2"><strong>Frame Legend:</strong></div>
      <div class="col-md-3"><span><strong class="text-danger">RED</strong></span>- No face detected inside the frame</div>
      <div class="col-md-2"><span><strong class="text-primary">BLUE</strong></span>- Your face detected</div>
      <div class="col-md-3"><span><strong class="text-success">GREEN</strong></span>- Face detected and within frame</div>
      <div class="col-md-2"><span><strong class="text-warning">ORANGE</strong></span>- Too far from the camera</div>

    </div>
  </div>
</div>


<router-outlet></router-outlet>
